.card {
  width: 100%;
  margin-bottom: 1rem;
}

.card-header {
  padding-bottom: 1rem;
}

.label {
  height: 8px;
  width: 8px;
  background-color: var(--rocket-purple);
}

.card-content {
  min-height: 7rem;
  padding: 1.5rem;
  border: 1px solid var(--rocket-purple);
  font-size: 1.2rem;
}
