* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  --rocket-purple: hsl(262, 83%, 58%);
  --blueish-white: hsl(213, 100%, 98%);
  --white: hsl(0, 0%, 100%);
}

.flex {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--rocket-purple);
  color: var(--white);

  padding: 3rem 2rem;
}

.new-task {
  width: 300px;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

header .icon {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.add-btn {
  color: var(--rocket-purple);
  background-color: var(--blueish-white);
  border: none;
  border-radius: 1.2rem;
  padding: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 1.5rem;
}

.add-btn:hover {
  scale: 1.1;
}

.add-btn:active {
  scale: 1;
  transition: 0s;
}
