* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  --rocket-purple: hsl(262, 83%, 58%);
  --blueish-white: hsl(213, 100%, 98%);
  --white: hsl(0, 0%, 100%);
}

.flex {
  display: flex;
}

header {
  display: flex;
  align-items: center;

  background-color: var(--rocket-purple);
  color: var(--white);

  padding: 3rem 2rem;
}

.icon {
  font-size: 2rem;
  margin-left: 1rem;
}
